@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.main {
    display: flex;
    width: 1000px;
    height: 100%;
    flex-direction: column
}
.headers{
    flex: 1;justify-content: centerl;align-content: center
}
.my-data {
    display: flex;
    flex-direction: column;
    border-radius: 0.2rem;
    width:100%;
    height: 30%
}
.wrap{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.left-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
.left-header-icon {
    width:100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center
}
.left-header-icon img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.header-name {
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: center;
    align-content: center
}
.header-name span:first-child {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.header-name span:last-child {
    text-align: center;
    color: #848484;
    padding-bottom: 10px;

}
/* Right */

.right-body-title {
    display: flex;
    align-items: center;
    color: #7c7c7c;
    font-weight: 800;
}
.right-body-title-icon {
    padding: 7px;
}
.right-body-title-desc {
    flex: 1;
    margin-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #efefef;
    font-size: 1.2rem;
    font-weight: 400;
}
.right-body-content {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    padding: 10px;
    padding-left: 42px;
}
.content-header {
    font-weight: 500;
    margin-bottom: 5px;
}
.link {
    text-decoration: none;
    color: #515cff;
    font-size: 0.8rem;
}
.content-header a:not(.link) {
    text-decoration: none;
    color: #515cff;
    font-size: 0.8rem;
}
.content-header a:hover {
    color: #575ce0;
}
.content-body {
    color: #878787;
    font-size: 0.8rem;
}
.content-project {
    font-size: 0.8rem;
    margin-bottom: 5px;
}
.content-footer {
    font-size: 0.8rem;
    margin-top: 10px;
}

.project {
    margin-left: 5px;
}
.experience {
    margin-left: 20px;
}
.awards {
    margin-left: 15px;
}
.work-experience {
    margin-left: 14px;
}